<a href="https://colab.research.google.com/github/yeseul106/UROP_Software-Fault-Prediction/blob/main/Ternary_Classification_JM1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
# 구글 드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# 원본 csv 파일 읽어오기
JM1_original = pd.read_csv('/content/drive/MyDrive/UROP/UROP dataset/JM1_Nomalize_Severity1.csv', encoding='cp949')
print(JM1_original.shape)
JM1_original.head(5)

(10878, 22)

   LOC_BLANK  BRANCH_COUNT  ...  LOC_TOTAL  3level1
0   1.000000      1.000000  ...   1.000000        2
1   0.000000      0.254545  ...   0.327812        2
2   0.366890      0.586667  ...   0.529788        2
3   0.082774      0.033939  ...   0.064226        2
4   0.024609      0.489697  ...   0.244987        1

[5 rows x 22 columns]

In [5]:
# 입력 데이터
input_data = JM1_original.iloc[:,:21]
print("input_data shape : ",input_data.shape)

input_data shape :  (10878, 21)

In [6]:
input_data = np.asarray(input_data,dtype=np.float)

In [7]:
# 정답 레이블
y_label = JM1_original.iloc[:,21].to_numpy()
print("y_label shape : ",y_label.shape)

y_label shape :  (10878,)

# **원핫 인코딩**

In [8]:
y_label = tf.keras.utils.to_categorical(y_label)
print("y_label shape : ",y_label.shape)

y_label shape :  (10878, 3)

In [9]:
y_label[0]

array([0., 0., 1.], dtype=float32)

# **5-fold Cross Validation**

In [10]:
from sklearn.model_selection import StratifiedKFold
from keras import models
from keras import layers
from keras.callbacks import EarlyStopping

# 5개의 파일로 쪼갬
n_fold = 5
seed = 0
skf = StratifiedKFold(n_splits=n_fold, shuffle=True, random_state=seed)

#빈 metrics 배열 // confusion matrix를 구하기
confusion_maxtrix = []
accuracy = []
loss = []

In [ ]:
from typing import Pattern
# 학습 자동 중단 설정
early_stopping_callback = EarlyStopping(monitor='loss', patience=100)

In [ ]:
for train, test in skf.split(input_data, y_label):
  model = models.Sequential()
  model.add(layers.Dense(32, input_shape = (21, )))
  model.add(layers.Activation('relu'))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(32))
  model.add(layers.Activation('relu'))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(32))
  model.add(layers.Activation('relu'))
  model.add(layers.Dropout(0.5))
  model.add(layers.Dense(3))
  model.add(layers.Activation('softmax'))

  model.compile(optimizer='adam',
             loss='categorical_crossentropy',
             metrics=['accuracy'])
  hist = model.fit(input_data[train], y_label[train], epochs=600, batch_size=5, verbose=1, callbacks=[early_stopping_callback])
  
  k_loss = "%.4f"%(model.evaluate(input_data[test],y_label[test])[0])
  k_accuracy = "%.4f"%(model.evaluate(input_data[test],y_label[test])[1])
  
  
  accuracy.append(k_accuracy)
  loss.append(k_loss)